@charset "UTF-8";

:root {
    --logo-font: Cookie, cursive;
    --text-font: 'Open Sans', Arial, Helvetica, sans-serif;

    --color-hover: rgba(208, 208, 208, 0.6);

    --color-shadow: rgba(0, 0, 0, 0.2);
}

/* ====== Classes/Ids do Header ====== */

/* Container esquerdo, com a logo */
.header-wrapper-left {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

/* Container direito */
.header-wrapper-right {
    display: flex;
    align-items: center;
}

/* A logo "My store" */
#logo {
    text-decoration: none;
    font: normal bold 2em var(--logo-font);
}

/* Menu hambúrguer; inicialmente escondido */
#menu {
    display: none;
}

/* Os links presentes no Header */
.header-links {
    font: normal normal 1em var(--text-font);
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
}

.header-links:hover {
    background-color: var(--color-hover);
}


/* ====== Classes/Ids do Main ====== */
.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;  
    gap: 1em;
    padding: 1em;
}

/* O container que guarda o produto */
.product {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1em;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
}

.product:hover {
    box-shadow: 4px 4px 10px var(--color-shadow);
    border: 1px solid black;
    transform: translateY(-5px);
    cursor: pointer;
}

/* O texto do modelo do produto */
.model {
    font: normal 500 1em var(--text-font);
    text-align: center;
    margin: 0.5em 0em;
}

/* O preço do produto */
.price {
    font: normal 600 1.1em var(--text-font)
}
