@charset "UTF-8";

:root {
    --logo-font: Cookie, cursive;
    --text-font: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* ====== Classes/Ids do Header ====== */
.header-wrapper-left {
    display: flex;
    align-items: center;
    gap: 0.75em;
}


.header-wrapper-right {
    display: flex;
    align-items: center;
}


#logo {
    text-decoration: none;
    font: normal bold 2em var(--logo-font);
}

#menu {
    display: none;
}

.header-links {
    font: normal normal 1em var(--text-font);
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
}

.header-links:hover {
    background-color: rgba(208, 208, 208, 0.4);
    text-decoration: underline;
}


/* ====== Classes/Ids do Main ====== */
.products-list {
    display: grid;
    /* Auto-fit:
    Faz o grid criar o máximo de colunas possíveis, desde que os itens caibam. Por exemplo, repeat(auto-fit, 250px) faz com que o navegador gere o máximo de colunas de 250px possíveis.

    Agora, com minmax(250px, 1fr), o item vai crescer ao máximo (pois sempre divide a tela em 2) e diminuir até atingir 250px. Assim, não há espaço em branco.
    */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    justify-content: center;  
    gap: 0.5em;
    padding: 1em 0em;
}

.product {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 1em;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;
}

.product:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    transform: translateY(-5px);
}

.model {
    font: normal 500 1em var(--text-font);
    text-align: center;
    margin: 0.5em 0em;
}

.price {
    font: normal 600 1.1em var(--text-font)
}