@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --logo-font: Cookie, cursive;
    --text-font: 'Open Sans', Arial, Helvetica, sans-serif;

    --color-shadow: rgba(0, 0, 0, 0.2);
    --border-color: rgb(187, 187, 187);
}

/* ====== Header ====== */
header {
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    border-bottom: 1px solid var(--border-color);
    background-color: white;
    box-shadow: 3px 3px 8px var(--color-shadow);
    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    color: black;
    text-decoration: none;
    padding: 8px;
}


/* ====== Main ====== */
img {
    align-self: stretch;
    object-fit: contain;
    height: auto;
    border-radius: 1.5em;
    background-color: lightgray;
    padding: 1em;
}


/* ====== Footer ====== */
footer {
    margin-top: 1.25em;
    padding: 2em;
    position: relative;
}

footer::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: var(--border-color);
    top: 0;
    left: 50%;
    translate: -50%;
}

footer p {
    text-align: center;
    font-family: var(--text-font);
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

footer a {
    font-weight: 700;
    color: black;
    text-decoration: none;
    
}

footer a:hover {
    text-decoration: underline;
}