@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --logo-font: Cookie, cursive;
    --text-font: 'Open Sans', Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    padding: 0.75em;
    position: sticky;
    justify-content: space-between;
    border-bottom: 1px solid rgb(187, 187, 187);
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.085);
    top: 0;
    z-index: 10;
}

header a {
    color: black;
    text-decoration: none;
    padding: 8px;
}


img {
    align-self: stretch;
    object-fit: contain;
    height: auto;
    border-radius: 1.5em;
    background-color: lightgray;
    padding: 1em;
}